img[src="img/machine_learning.svg"] {
	width: 15rem;
	top: 1rem;
	right: -1rem;
}

img[src="img/frontend_development.svg"] {
	width: 12.5rem;
	top: 1rem;
	right: 1rem;
}

img[src="img/mobile_development.svg"] {
	width: 13.8rem;
	top: 1rem;
	right: -1rem;
}

img[src="img/cloud_computing.svg"] {
	width: 14rem;
	top: 0.5rem;
	right: 1rem;
}

img[src="img/data_engineering.svg"] {
	width: 16rem;
	top: -0.5rem;
	right: -0.5rem;
}
