@import "variables";

section.frontend-main {
   padding-top: 20rem;

   span.arrow-back {
      font-size: 3rem;
      color: $colorWhite;
      cursor: pointer;
      transition: .2s;

      &:hover {
         color: $colorMain;
      }
   }
}