@import "variables";

nav {
   position: fixed;
	display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 1rem;
   padding-bottom: 1rem;
   max-width: 110rem;
   width: 100%;
   background-color: $colorBackground;
   z-index: 2;
   border-bottom: 1px solid #222222;

	.logo-wrap {
		display: flex;
		align-items: center;
      gap: .6rem;

		img.logo {
			width: 2.4rem;
			height: 2.4rem;
		}

		.logo-text {
			font-family: "Suez One", "Times New Roman", serif;
			font-size: 2.6rem;
		}
	}

   .burger {
      display: none;
   }

	ul {
      display: flex;
      max-width: 38rem;
      gap: 4.5rem;

		li {
			list-style: none;

         a {
            font-size: 1.8rem;
            transition: .15s;

            &:hover {
               color: $colorMain;
            }
         }
		}
	}

   .sign-up {
      display: flex;
      padding-right: 2rem;
      transition: .2s;
      cursor: pointer;

      &:hover {
         color: $colorMain;
      }
   }

   .burger {

      .icon {
         display: none;
         margin-right: 3rem;
      }

      .show {
         display: block;
      }
      
      img {
         width: 4rem;

      }
   }
}

.nav-aside {
   background-color: $colorBackground;
   position: fixed;
   height: calc(100vh - 60px);
   width: 100vw;
   left: -100vw;
   transition: .25s;
   z-index: 20;
   bottom: 0;
   
   &.active {
      left: 0;
   }

   .nav-button-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      a {
         display: block;
         width: 100%;
         text-decoration: none;
         text-align: center;
         font-size: 2.6rem;
         color: $colorWhite;
         font-family: "Nunito", "Arial", sans-serif;
         padding: 3rem 0;
         transition: .2s;

         &:hover {
            background-color: #ffffff25;
         }
      }
   }
}

@media all and (max-width: 750px) {

   nav {

      ul {
         display: none;
      }

      .sign-up {
         display: none;
      }

      .burger {
         display: block;
      }
   }   
}